body {
	background:#934A5F;
	background-image:url("https://i.ibb.co/s2wQTrL/slika.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
}

#kocka {
	height:160px;
	width:160px;
	margin-left:1100px;
	margin-top:555px;
}

#kocka2 {
	height:160px;
	width:160px;
	background-color:black;
	margin-left:872px;
	margin-top:-160px;
}

#kocka3 {
	height:160px;
	width:160px;
	background-color:black;
	margin-left:713px;
	margin-top:-160px;
}

#kocka4 {
	height:160px;
	width:160px;
	background-color:black;
	margin-left:553px;
	margin-top:-160px;
}


#kocka5 {
	height:160px;
	width:160px;
	background-color:black;
	margin-left:394px;
	margin-top:-160px;
}

#kocka6 {
	height:160px;
	width:160px;
	margin-left:100px;
	margin-top:-320px;
}

#kocka7 {
	height:160px;
	width:160px;
	background-color:black;
	margin-left:553px;
	margin-top:-160px;
}

#kocka8 {
	height:160px;
	width:160px;
	background-color:black;
	margin-left:713px;
	margin-top:-160px;
}

#kocka9 {
	height:160px;
	width:160px;
	background-color:black;
	margin-left:394px;
	margin-top:-160px;
}

#kocka10 {
	height:160px;
	width:160px;
	background-color:black;
	margin-left:872px;
	margin-top:-160px;
}

#kocka11 {
	height:158px;
	width:160px;
	margin-left:1100px;
	margin-top:-318px;
}

#kocka12 {
	height:158px;
	width:160px;
	background-color:black;
	margin-left:711px;
	margin-top:-158px;
}

#kocka13 {
	height:158px;
	width:160px;
	background-color:black;
	margin-left:870px;
	margin-top:-158px;
}

#kocka14 {
	height:158px;
	width:160px;
	background-color:black;
	margin-left:553px;
	margin-top:-158px;
}

#kocka15 {
	height:158px;
	width:160px;
	background-color:black;
	margin-left:394px;
	margin-top:-158px;
}

#kocka16 {
	height:158px;
	width:160px;
	margin-left:80px;
	margin-top:-316px;
}

#kocka17 {
	height:158px;
	width:160px;
	background-color:black;
	margin-left:553px;
	margin-top:-158px;
}

#kocka18 {
	height:158px;
	width:160px;
	background-color:black;
	margin-left:394px;
	margin-top:-158px;
}

#kocka19 {
	height:158px;
	width:160px;
	background-color:black;
	margin-left:711px;
	margin-top:-158px;
}

#kocka20 {
	height:158px;
	width:160px;
	background-color:black;
	margin-left:870px;
	margin-top:-158px;
}


	



